<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
		<meta name="robots" content="none">
		<meta name="viewport" content="width=device-width,viewport-fit=cover">
		<title>{% if title %}{{title}}{% endif %}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.min.css">
		<base href="/">
	</head>
	<body>{{main}}</body>
</html>