#forms {
	width: 30rem;
	margin: 20dvh auto 5dvh;
	padding: 1rlh 0;
	border-bottom: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0 4px;

	>label {
		order: -1;
		border: 1px var(--neutral-color);
		border-style: solid solid none;
		padding: 4px;
		translate: 0 1px;
		background-color: var(--surface-color);
		font-weight: 400;
		transition: 0.2s;

		>input {
			display: none;
		}
	}

	>label:last-of-type {
		text-align: end;
	}

	>label:has(:checked) {
		z-index: 2;
		flex-grow: 1;
	}

	>form {
		z-index: 1;
		width: 100%;
	}

	>label:not(:has(:checked))+form {
		display: none;
	}

	form {
		border: 1px solid var(--neutral-color);
		padding: 1vw;

		menu:empty {
			display: none;
		}
	}
}