<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
		{% if nobots %}
		<meta name="robots" content="none">
		{% endif %}
		<meta name="viewport" content="width=device-width,viewport-fit=cover">
		{% if summary %}
		<title>{{summary.title}}</title>
		<meta property="og:title" content="{{summary.title|escape}}">
		<meta name="description" content="{{summary.desc|escape}}">
		<meta property="og:url" content="http://erltod.untroche.com/{{summary.url}}">
		<meta property="og:type" content="{{summary.ogtype}}">
		<meta property="og:image" content="{{summary.image|escape}}">
		<meta name="twitter:card" content="{{summary.card}}">
		{% else %}
		<title>ERL-TÖD</title>
		<meta property="og:title" content="ERL-TÖD">
		<meta name="description" content="">
		<meta property="og:url" content="http://erltod.untroche.com">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://erltod.untroche.com/image/ogp.png">
		<meta name="twitter:card" content="summary">
		{% endif %}
		<meta property="og:site_name" content="ERL-TÖD">
		<meta name="twitter:site" content="@untroche_ar">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.min.css">
		<base href="/">
		<link rel="stylesheet" href="common/style/notice.css">
		<link rel="stylesheet" href="style/common.css">
		<link rel="stylesheet" href="style/view_transition.css">
		<link rel="stylesheet" href="style/help.css">
		<link rel="stylesheet" href="style/header.css">
		<script>document.documentElement.dataset.theme = localStorage.getItem('theme') ?? 'light'</script>
		<script src="common/script/custom_elem.js"></script>
		<script src="script/common.js" defer></script>
	</head>
	<body>
		<header>
			<hamburger-menu></hamburger-menu>
			<menu>
				{% if user %}
				<li><a href="profile" title="マイページ"><i class="ri-user-4-line"></i>マイページ</a></li>
				{% endif %}
				<li class="partition"></li>
				<li><a href="rule" title="ユーザーガイド"><i class="ri-book-2-line"></i>ユーザーガイド</a></li>
				<li><a href="info" title="お知らせ"><i class="ri-news-line"></i>お知らせ</a></li>
				<li><a href="" title="トップページ"><i class="ri-planet-line"></i>トップページ</a></li>
				<li class="icons">
					<i class="ri-sun-line" title="ライトテーマ" role="button" data-theme="light"></i>
					<i class="ri-moon-line" title="ダークテーマ" role="button" data-theme="dark"></i>
					<div class="partition"></div>
					<a href="report" title="運営連絡"><i class="ri-error-warning-line"></i></a>
					{% if user %}
					<a href="entry/logout" title="ログアウト"><i class="ri-logout-circle-line"></i></a>
					{% endif %}
				</li>
				<li role="none">2025.11 - 2026.01</li>
			</menu>
			{% if user %}
			<div class="user">
				<p class="name">{{user.name|escape}}</p>
			</div>
			{% endif %}
		</header>
		<main class="scroll-y both">{{main}}</main>
		<dialog id="help"></dialog>
	</body>
</html>